{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}
    <h1><strong>{{ SITENAME }} |</strong> {{AUTHOR}}</h1>
    <hr style="border-width: thin; border-color: black">
    <div class="intro" style="padding-top: 1rem; padding-bottom: 1rem;">
        <p class="lead">
            Меня зовут <strong>Алексей Клементьев</strong>, и это мой персональный сайт-портфолио. Здесь вы найдёте проекты, которыми я горжусь (и не очень), а также узнаете больше о моём опыте и навыках.
        </p>
        <p>
            Моя цель — создавать уникальные решения, которые вдохновляют и приносят пользу. Благодарю за посещение, и я буду рад вашему мнению. Вы можете его оставить, спустившись в футер 👇 или на странице Я не Я 👆!
        </p>
    </div>
    <hr style="border-width: thin; border-color: black">
    <h1><strong>Дисциплины |</strong> Проекты</h1>
    
    <p>
    {% for tag in TAGS %}
        {% set formatted_tag = tag.split()[0] + '-semestr' %}
        <a href="{{ SITEURL }}/{{ formatted_tag }}.html">{{ tag }}</a>
        {% if not loop.last %} | {% endif %}
    {% endfor %}
    </p>
    <hr style="border-width: thin; border-color: black">
    <br>
    
    <div class="row">
        {% for article in articles[:9] %}
            {% if loop.index0 is divisibleby 3 %}
            </div>
                <div class="row">
            {% endif %}
            
            <div class="col-md-4 mb-4">
                {% if article.featured_image %}
                <div class="containertumb">
                    <a href="{{ article.slug }}.html">
                        <img src="{{ article.featured_image }}" class="tumb img-fluid" alt="{{ article.title }}">
                        <div class="middle">
                            <div class="text">
                                <h2>{{ article.title }}</h2>
                            </div>
                        </div>
                        <div class="middleback">
                            <div class="middlebacktext">
                                {% if article.summary %}
                                <p><strong>Суть</strong> {{ article.summary }}</p>
                                {% endif %}
                                <hr>
                                <p><strong>Навыки:</strong>
                                    {% for tag in article.tags %}
                                        {{ tag }}{% if not loop.last %} | {% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endif %}
            </div>
        {% else %}
            <p>Пока нет проектов...</p>
        {% endfor %}
    </div>

{% endblock %}
